<footer class="p-12 border-t border-white/5 text-center">
    <div class="text-white/20 text-sm font-medium tracking-widest uppercase mb-4">
        OCPP-Labs // Global Compliance
    </div>
    <div id="copyright" class="text-white/40 text-[10px] tracking-widest uppercase">
        <%- t.copy %>
    </div>
</footer>
